h1,
h2 {
  text-align: center;
  front-family: "Courier New", Courier, monospace;
  color: crimson;
}

.cuadrado {
  width: 100px;
  height: 100px;
  border-style: double;
  border-color: black;
}
.cuadricula {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 320px;
  height: 320px;
  margin: 10px auto;
}
.topo {
  background-image: url("./imagenes/topo.jpg");
  background-size: cover;
}
